/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/cdk/overlay-prebuilt.css';
@import '~ng-pick-datetime/assets/style/picker.min.css';
@import 'ngx-smart-modal/src/ngx-smart-modal.scss';
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css"; */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-horizontal-stepper-header-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: 480px;
}


.pdf-container {
	transform: scale(0.65);
	-webkit-transform: scale(0.65);
	transform-origin: 0 0;
}

.page {
	text-align: center;
	width: 21cm;
	height: 29.7cm;
	display: block;
	margin: 0 auto;
	padding: 10px 25px;
	margin-bottom: .5cm;
	-webkit-box-shadow: 0 0 0.5cm rgba(0,0,0,.5);
	box-shadow: 0 0 0.5cm rgba(0,0,0,.5);
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12pt;
	position: relative;
	background: #fff;
	border-right: 10px var(--main-color) solid;
	margin-right: 8em;
}

.pdf-logo {
	margin-top: 3cm;
	height: 4.4cm;
}

.pdf-dentist {
	margin-top: 1.8cm;
	color: #9d9d9c;
	white-space: pre-line;
	overflow: hidden;
	max-height: 151px;
}

.pdf-title {
	margin-top: 3.5cm;
	font-weight: 700;
	text-transform: uppercase;
}

.pdf-subtitle {
	color: #9d9d9c;
	font-size: 13pt;
}

.pdf-patient-name {
    margin-top: 1.4cm;
    font-weight: 700;
    font-size: 13pt;
    color: #000;
}

.pdf-date {
    color: #000;
}

.pdf-360 {
    font-size: 11pt;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    margin-top: 1cm;
	transform: scale(0.65);
	-webkit-transform: scale(0.65);
	transform-origin: 0 0;
}

.pdf-overview {
	padding: 1.4cm 1.4cm 2.6cm 2cm;
	page-break-before: always;
}

.odontogram-main {
	/* margin-bottom: 6em; */
	display: flex;
	flex-direction: row;
}

.odontogram-title {
	padding-top: 1.52cm;
	width: 3.8cm;
}

.odontogram-container {
	width: 13cm;
	margin-right: 0;	/* was in a separate class: .pull-right*/
}

.odontogram {
	transform:scale(0.65);
}
.odontogramScale {
	transform:scale(0.65);
}

.pdf-section .header {
    text-transform: uppercase;
    font-weight: 700;
    height: .9cm;
    line-height: .9cm;
    margin-bottom: 1.2cm;
    font-size: 13pt;
}

.pull-left{
    margin-left: 0;
}

.pull-right{
    margin-right: 0;
}
.text-main-color{
    color: #3ea8c9 !important;
}

.descriptions .entry{
    padding-top: .4cm;
}

.descriptions {
	margin-top: 0.8cm;
}
.table-items .condition {
    text-transform: uppercase;
    font-weight: 700;
}
.table-items .teeth {
    max-width: 80px;
}
/* .table {
    width: 100%;
    max-width: 100%;
	margin-bottom: 20px;
	color: #3ea8c9;
} */
.table-items {
    font-size: 9pt;
    margin-top: .6cm;
    margin-bottom: 0;
}
.table {
    width: 100%;
    max-width: 100%;
	margin-bottom: 20px;
}
.pdf-overview .overview-body{ 
	padding-top:15%;
}

.table {
    border-collapse: collapse!important;
}
.clearfix {
    display: block;
}
.odontogram-title{
    width: 3.8cm;
    padding-top: 1.52cm;
}
.pull-left {
	margin-left: 0;
	float: left!important;
}
.odontogram-container{
    width: 13cm;
}
.pull-right{
	margin-right: 0;
	float: right!important;
}
.resume-odontogram .odontogram {
    -webkit-transform: scale(.64);
    transform: scale(.64);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    margin: 0!important;
}
.odontogram{
    width: 768px;
    height: 312px;
    margin: 65px auto 0 auto;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.report-info {
    margin-top: 1.5cm;
    font-size: 11pt;
    text-align: justify;
}

.pdf-section .footer {
    position: absolute;
    right: 1.4cm;
    bottom: .6cm;
    color: #9d9d9c;
    height: 1.3cm;
}

.pdf-section {
    padding: 1.4cm 1.4cm 2.6cm 2cm;
    page-break-before: always;
}
.hidden {
    display: none!important;
    visibility: hidden!important;
}

.pdf-section .body {
    /* height: 23cm; */
	height: 18cm;
}

.pdf-section .footer .page-number {
    font-size: 10pt;
    position: absolute;
    bottom: 0;
    right: 0;
}

.pdf-section .body .table-items+.descriptions {
    margin-top: .8cm;
}

.descriptions{
    font-size: 10pt;
	text-align: justify;
  text-justify: inter-word;
}

.descriptions .entry .title{
    font-weight: 700;
    padding-bottom: .1cm;
}

#resume .odontogram-title{
    width: 3.8cm;
    padding-top: 1.52cm;
}

#resume .odontogram-container{
    width: 13cm;
}

.cover .title {
    color: #9d9d9c;
    font-size: 13pt;
}
.cover .title {
    margin-top: 3.5cm;
    font-weight: 700;
    text-transform: uppercase;
}

.cover .dentist {
    margin-top: 1.8cm;
    color: #9d9d9c;
    white-space: pre-line;
    overflow: hidden;
    max-height: 151px;
}

.cover .subtitle .cover .title {
    color: #9d9d9c;
    font-size: 13pt;
}

.cover .patient {
    margin-top: 1.4cm;
    font-weight: 700;
    font-size: 13pt;
    color: #000;
}
.cover .date {
    color: #000;
}

.circle360{
    background-position: 0 0;
    margin: 90px auto;
    width: 196px;
    height: 196px;
    position: relative;
    font-size: 14px;
}