<!-- <div *ngIf="isToothExist" id="tooth{{ tooth.num }}" class="tooth" [class.disabled]="disabled" [class.selected]="tooth.selected"
  [class.bleach]="tooth.bleach" [class.all_on_four]="tooth.all_on_four" [class.missing]="tooth.missing"
  [class.implant]="tooth.implant" [class.fdi]="showNumbering && numberSystem=='fdi'"
  [class.universal]="showNumbering && numberSystem=='universal'" (click)="toggleTooth.emit(tooth.num)">
  <div class="tooth-img" *ngIf="!tooth?.missing"></div>
  <div class="diagnosis {{ item.condition }} {{ item.options }}" *ngFor="let item of tooth?.diagnosis"></div>
  <div class="plan {{ item.treatment }} {{ item.options }}" *ngFor="let item of tooth?.plan"></div>
  <div class="gengiva" *ngIf="tooth?.gengiva_normal"></div>
  <div class="bone" *ngIf="tooth?.bone_normal"></div>
  <div class="bone-line" *ngIf="tooth?.bone_line_normal"></div>
</div> -->












<div class="tooth disableddiv" id="tooth{{tooth.num}}"
  [ngClass]="{'toothactive': tooth.isActive && tooth.row === 1,  'toothactive2': tooth.isActive && tooth.row === 2, 'multisection1': tooth.isActive && tooth.row === 1, 'multisection2': tooth.isActive && tooth.row === 2}"
  (click)="updateTooth(tooth)">
  <div class="teeth_img"></div>
  <div class="caries buccal ng-star-inserted" *ngIf="tooth.diagnosis.caries.buccal"
    [ngClass]="{'diagnosis': tooth.diagnosis.caries.buccal}"></div>
  <div class="caries distal" *ngIf="tooth.diagnosis.caries.distal"
    [ngClass]="{'diagnosis': tooth.diagnosis.caries.distal}"></div>
  <div class="caries lingual" *ngIf="tooth.diagnosis.caries.lingual"
    [ngClass]="{'diagnosis': tooth.diagnosis.caries.lingual}"></div>
  <div class="caries mesial" *ngIf="tooth.diagnosis.caries.mesial"
    [ngClass]="{'diagnosis': tooth.diagnosis.caries.mesial}"></div>
  <div class="caries occlusal" *ngIf="tooth.diagnosis.caries.occlusal"
    [ngClass]="{'diagnosis': tooth.diagnosis.caries.occlusal}"></div>
  <div class=" fracture crown" *ngIf="tooth.diagnosis.fracture.crown"
    [ngClass]="{'diagnosis': tooth.diagnosis.fracture.crown}"></div>
  <div class=" fracture root" *ngIf="tooth.diagnosis.fracture.root"
    [ngClass]="{'diagnosis': tooth.diagnosis.fracture.root}"></div>
  <div class=" severely-damaged" *ngIf="tooth.diagnosis.severelyDamaged"
    [ngClass]="{'diagnosis': tooth.diagnosis.severelyDamaged}"></div>
  <div class=" wear mild" *ngIf="tooth.diagnosis.wear.mild" [ngClass]="{'diagnosis': tooth.diagnosis.wear.mild}"></div>
  <div class=" wear moderate" *ngIf="tooth.diagnosis.wear.moderate"
    [ngClass]="{'diagnosis': tooth.diagnosis.wear.moderate}"></div>
  <div class=" wear severe" *ngIf="tooth.diagnosis.wear.severe" [ngClass]="{'diagnosis': tooth.diagnosis.wear.severe}">
  </div>
  <div class="bone-line_img"></div>
  <div class="bone-normal_img"></div>
  <div class="bone-normal2_img"></div>
</div>