<div class="row">
  <div class="col-lg-3">
                         
  </div>
  <div class="col-lg-9">
    <div _ngcontent-c55="" class="circle360 ng-star-inserted">
      <div _ngcontent-c55="" class="clearfix">
        <div _ngcontent-c55="" class="quadrant q1 pull-left pull-left-none">
          <div _ngcontent-c55="" class="item item1 ok"></div>
          <div _ngcontent-c55="" class="item item2 ok"></div>
          <div _ngcontent-c55="" class="label360 label1">
            Crooked &amp; Shifting Teeth
          </div>
          <div _ngcontent-c55="" class="label360 label2">
            Darkening Teeth
          </div>
        </div>
        <div _ngcontent-c55="" class="quadrant q2 pull-left pull-left-none">
          <div _ngcontent-c55="" class="item item1 ok"></div>
          <div _ngcontent-c55="" class="item item2 ok"></div>
          <div _ngcontent-c55="" class="label360 label1">
             Missing &amp; Drifting Teeth
          </div>
          <div _ngcontent-c55="" class="label360 label2">
             Tooth Decay or Infection
          </div>
        </div>
      </div>
      <div _ngcontent-c55="" class="clearfix">
        <div _ngcontent-c55="" class="quadrant q4 pull-left pull-left-none">
          <div _ngcontent-c55="" class="item item1 ok"></div>
          <div _ngcontent-c55="" class="item item2 ok"></div>
          <div _ngcontent-c55="" class="label360 label1">
            Problems in existing treatments
          </div>
          <div _ngcontent-c55="" class="label360 label2">
            Bite &amp; Joint Problems
          </div>
        </div>
        <div _ngcontent-c55="" class="quadrant q3 pull-left pull-left-none">
          <div _ngcontent-c55="" class="item item1 ok"></div>
          <div _ngcontent-c55="" class="item item2 ok"></div>
          <div _ngcontent-c55="" class="label360 label1">
             Gum Disease or Bone Loss
          </div>
          <div _ngcontent-c55="" class="label360 label2">
             Enamel loss &amp; damage
          </div>
        </div>
      </div>
      <div _ngcontent-c55="" class="text">
        <div _ngcontent-c55="" class="bold">360</div>
        <div _ngcontent-c55="">DENTAL<br>HEALTH</div>
      </div>
      </div> 
  </div>
</div>