<div class="login-page">
  <div class="container">
      <div class="row">
          <div class="col-xl-8 m-auto col-sm-8 col-12">
              <div class="log-box">
                  <div class="row">
                      <div class="col-xl-6 col-sm-6 col-12 pr-0 my_pd">
                          <!-- <div class="logo-back-img">
                                  <img src="../../assets/images/logo/logo_white.svg" >
                              
                          </div> -->
                        <div class="login_text">
                            <h1>Start your free trial today!</h1>
                            <p>Discover how MAKEMECLEAR can help you to create impressive treatment plans that patients understand and accept!</p>
                        </div>
                      </div>
                      <div class="col-xl-6 col-sm-6 col-12 pl-0">
                          <div class="log-content">
                            <form>
                             
                              <div class="log-body">
                                <div class="wrap-input2 validate-input" data-validate = "Name is required">
                                  <input class="input2" type="text" name="name" [(ngModel)]="user.Name" autocomplete="false">
                                  <span class="focus-input2" data-placeholder="Name"></span>
                                </div> 

                                    <div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                                      <input class="input2" type="text" name="Email" [(ngModel)]="user.Email" autocomplete="false">
                                      <span class="focus-input2" data-placeholder="Email"></span>
                                    </div>
                              
                                    <div class="wrap-input2 validate-input" data-validate = "Phone is required">
                                      <input class="input2" type="password" name="Password" [(ngModel)]="user.Password" autocomplete="false">
                                      <span class="focus-input2" data-placeholder="Password"></span>
                                    </div>
                                    <div class="form-group form-check">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="remember"> I agree with Privacy Policy and Terms of Service
                                      </label>
                                    </div>
                                    <!-- <a href="#">Forgot your password?</a> -->
                              <div class="log-btn text-center">
                                  <a href="javascript:void(0)" class="btn my_btn_two mt-5" (click)="userRegister()">
                                    Register Now
                                  </a> 
                              </div>
                              <div class="log-bottom-cotent">
                              <!-- <p>Not registered?<a routerLink="/signup">Create a new account</a> -->
                              <!-- <a href="forgotpassword.html" class="pull-right">Forgot Password</a> -->
                              <!-- </p> -->
                              </div>
                              </div>
                            </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>