<mat-card-header layout="row" layout-align="space-between center">
  <h2 class="mat-title">Select the documents to include</h2>

  <button mat-icon-button color="primary" (click)="closeDialog()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-card-header>

<mat-card-content class="ph125">
  <mat-selection-list #documents>
    <mat-list-option color="primary" [value]="document" *ngFor="let document of documentNames" class="ph075">
      {{ document.name }}
    </mat-list-option>
  </mat-selection-list>
</mat-card-content>

<mat-card-actions align="end" class="mh125 mv125">
  <button mat-raised-button type="button" color="primary" [disabled]="documents.selectedOptions.selected.length == 0"
    (click)="addDocuments()">Add documents</button>
</mat-card-actions>