    <div class="container-fluid mrg-top-15" style="margin-top: 5px !important;
    border: 2px solid;
    padding: 0px 19px;background-color: #fff;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.64), 0 6px 20px 0 rgba(0, 0, 0, 0.64);">
        <div class="row" >
            <div class="col-lg-3 col-md-3">
    
              <form class="form-inline" action="/action_page.php">
                <div class="form-group ">
                    <label>ID : </label>
                    <!-- <span class="fa fa-search form-control-feedback"></span> -->
                    <input type="text" class="form-control">
                  </div>
    
        </form>
            </div>
            <div class="col-lg-6 col-md-6">
              <h1 class="text-center" style="margin-top: -7px;">Supplier Details</h1>
           </div>
           <div class="col-lg-3 col-md-3">
        <!-- <p>Total Customer :</p> -->
         </div>
    
        </div>
      <div class="row" style="margin-top: 0;    border: 1px solid;">
        <div class="col-md-11 col-lg-11">
          <div class="row" style="margin-top: 0;">
    
            <div class="col-md-12 col-lg-12" >
    
    
                    <form >
    
                        <div class="row row_margin">
                          <div class="col-lg-3">
                              <div class="row ">
    
                            <label for="CustomerID" class="col-lg-6" >Supplier Name:</label>
                            <input class="form-control col-lg-6" type="text" name="CID"  >
                          </div></div>
    
                          <div class="col-lg-3">
                              <div class="row ">
                            <label for="CustomerID" class="col-lg-6" >Company Name:</label>
                            <input class="form-control col-lg-6" type="text" name="CID"  >
                          </div></div>
    
                          <div class="col-lg-3">
                            <div class="row ">
                          <label for="CustomerID" class="col-lg-6" >Branch:</label>
                          <input class="form-control col-lg-6" type="text" name="CID"  >
                        </div></div>
    
                        <div class="col-lg-3">
                          <div class="row ">
                        <label for="CustomerID" class="col-lg-6" >Location:</label>
                        <input class="form-control col-lg-6" type="text" name="CID"  >
                      </div></div>
                      </div>
    
                        <div class="row row_margin">
    
                            <div class="col-lg-3" >
                                <div class="row ">
                                <label for="CustomerID" class="col-lg-6" >City:</label>
                                <select class="form-control col-lg-6" name="AwardsTypeID">
                                  <option selected="selected">Select Type</option>
                                  <option>IN</option>
                                  <option>uj</option>
                                </select>
                            </div></div>
    
                            <div class="col-lg-3">
                              <div class="row ">
                            <label for="CustomerID" class="col-lg-6">Mobile Number 1:</label>
                            <input class="form-control col-lg-6" type="number" name="CID"   >
                          </div></div>
    
                          <div class="col-lg-3">
                              <div class="row ">
                              <label for="CustomerID" class="col-lg-6">Mobile Number 2:</label>
                              <input class="form-control col-lg-6" type="number" name="CID"  >
                          </div></div>
    
                          <div class="col-lg-3">
                            <div class="row ">
                            <label for="CustomerID" class="col-lg-6">Telephone Number:</label>
                            <input class="form-control col-lg-6" type="number" name="CID"  >
                        </div></div>
                        </div>
    
    
                            <div class="row row_margin">
                                <div class="col-lg-3">
                                    <div class="row mt-0">
                                        <div class="col-lg-12">
                                            <div class="row ">
                                            <label for="CustomerID" class="col-lg-6">Email ID:</label>
                                            <input class="form-control col-lg-6" type="text" name="CID"  >
                                        </div></div>
                                        <div class="col-lg-12">
                                            <div class="row ">
                                            <label for="CustomerID" class="col-lg-6">Website:</label>
                                            <input class="form-control col-lg-6" type="text" name="CID"  >
                                        </div></div>
    
                                    </div>
                                </div>
    
                                <div class="col-lg-3">
                                    <div class="row ">
                                    <label class="col-lg-6">Address:</label>
                                    <textarea rows="1" class="form-control col-lg-6" name="Comment" placeholder="Please Enter Address"
                                    ></textarea>
                                </div></div>
    
                                <div class="col-lg-3">
                                  <div class="row mt-0">
                                      <div class="col-lg-12">
                                          <div class="row ">
                                          <label for="CustomerID" class="col-lg-6">Fax No.:</label>
                                          <input class="form-control col-lg-6" type="text" name="CID"  >
                                      </div></div>
                                      <div class="col-lg-12">
                                          <div class="row ">
                                          <label for="CustomerID" class="col-lg-6">GST No.:</label>
                                          <input class="form-control col-lg-6" type="text" name="CID"  >
                                      </div></div>
    
                                  </div>
                              </div>
    
                              <div class="col-lg-3">
                                <div class="row mt-0">
                                    <div class="col-lg-12">
                                        <div class="row ">
                                        <label for="CustomerID" class="col-lg-6">CIN No.:</label>
                                        <input class="form-control col-lg-6" type="text" name="CID"  >
                                    </div></div>
                                    <div class="col-lg-12">
                                        <div class="row ">
                                        <label for="CustomerID" class="col-lg-6">Contact Person.:</label>
                                        <input class="form-control col-lg-6" type="text" name="CID"  >
                                    </div></div>
    
                                </div>
                            </div>
                              </div>
    
                              <div class="row row_margin">
    
    
                                <div class="col-lg-3">
                                    <div class="row ">
                                    <label class="col-lg-6">Remarks:</label>
                                    <textarea rows="1" class="form-control col-lg-6" name="Comment" placeholder="Please Enter Remarks"
                                    ></textarea>
                                </div></div>
    
    
    
    
                              </div>
    
                    </form>
                </div>
    
    
    
          </div>
    
    
    
        </div>
        <div class="col-md-1 col-lg-1 button_class" style="color: #fff;">
            <!-- Basic dropdown -->
    <!-- <button class="btn btn-primary dropdwn_btn dropdown-toggle mr-4" type="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">Basic dropdown</button>
    
    <div class="dropdown-menu" style="background-color: transparent;">
    <a type="button" class="btn dropdown-item btn-primary dropdwn_btn1" href="#">Action</a>
    <a type="button" class="btn dropdown-item btn-primary dropdwn_btn1" href="#">Another action</a>
    <a type="button" class="btn dropdown-item btn-primary dropdwn_btn1" href="#">Something else here</a>
    <a type="button" class="btn dropdown-item btn-primary dropdwn_btn1" href="#">Separated link</a>
    </div> -->
    <div><a type="button" class="btn btn-success ">New</a></div>
    <div><a type="button" class="btn btn-success ">Save</a></div>
    <div><a type="button" class="btn btn-success ">Update</a></div>
    <div><a type="button" class="btn btn-success ">Delete</a></div>
    <div><a type="button" class="btn btn-success ">Purchase</a></div>
    <div><a type="button" class="btn btn-success ">Import</a></div>
    <div><a type="button" class="btn btn-success ">Export</a></div>
    <div><a type="button" class="btn btn-success ">Home</a></div>
    <!-- <div><a type="button" class="btn btn-success ">Print</a></div>
    <div><a type="button" class="btn btn-success ">Order</a></div>
    
    <div><a type="button" class="btn btn-success ">C Memo</a></div> -->
    
    
    
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" style="border: 1px solid;overflow-y: scroll;
        height: 254px;">
            <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                  <tr>
                    <th>Action</th>
                    <th>Work Type ID</th>
                    <th>WorkTypeDes</th>
                    <th>Action</th>
                    <th>Work Type ID</th>
                    <th>WorkTypeDes</th>
                    <th>Action</th>
                    <th>Work Type ID</th>
                    <th>WorkTypeDes</th>
                    <th>Action</th>
                    <th>Work Type ID</th>
                    <th>WorkTypeDes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  style="white-space: nowrap">
    
                    <td>hhhhhhhh</td>
                    <td>hhhhhhhhhhhhh</td>
                    <td>hhhhhhhhhhhhh</td>
                    <td>hhhhhhhh</td>
                    <td>hhhhhhhhhhhhh</td>
                    <td>hhhhhhhhhhhhh</td>
                    <td>hhhhhhhh</td>
                    <td>hhhhhhhhhhhhh</td>
                    <td>hhhhhhhhhhhhh</td>
                    <td>hhhhhhhh</td>
                    <td>hhhhhhhhhhhhh</td>
                    <td>hhhhhhhhhhhhh</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
          </div>
    